<?xml version="1.0" encoding="utf-8"?>
<!--  
   Note: As an alternative to hand editing this file you can use the  
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config                
-->
<configuration>
	<configSections>
		<section name="DatabaseFactoryConfiguration" type="mrldb.DatabaseFactorySectionHandler, Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
	</configSections>
	<appSettings />
	<DatabaseFactoryConfiguration Name="mrldb.sqlDatabase" ConnectionStringName="conexion" />
	<connectionStrings>
		<add name="CNR" connectionString="Data Source=Localhost\SQLEXPRESS;Initial Catalog=CNR_TEST; Integrated Security = true;  MultipleActiveResultSets=True; Pooling=true; Min Pool Size=5;Max Pool Size=60;Connect Timeout=45; " />
	</connectionStrings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.
  
    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" /> 
      </system.Web>
  -->
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
 -->
		<sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="20" />
		<machineKey validationKey="FD708271DC9DCD5CB979CAED70F35933419B653728F087A0C95E2BF1E7AB135931DCC41E2DB56352F615B6A814DE69A1BEC81D440A5B52E741C853281D588015" decryptionKey="97EA5A88412C397CB6516096A6D6D63153CD1E5BB950CF3AE1DEE0962047D93C" validation="SHA1" decryption="AES" />
		<compilation debug="true"  targetFramework="4.6.1" />
		<httpRuntime executionTimeout="900" maxRequestLength="99999999" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" maxUrlLength="2097151" maxQueryStringLength="2097151" />
		<customErrors mode="Off" />
		<pages theme="skinFile" enableEventValidation="false" validateRequest="false" enableViewStateMac="false" enableSessionState="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
			</controls>
		</pages>
		<httpModules>
			<!--<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" /> -->
			<!-- <add name="http_module" type="httpmodule.http_module"/> -->
			<add name="_httpmodule" type="CNR.Lib.BL._httpmodule" />
		</httpModules>
	</system.web>
	<system.webServer>
		<directoryBrowse enabled="true" />
		<modules>
			<add name="_httpmodule" type="CNR.Lib.BL._httpmodule" />
		</modules>
		<validation validateIntegratedModeConfiguration="false" />
		<security>
			<requestFiltering>
				<requestLimits maxQueryString="999999900"></requestLimits>
			</requestFiltering>
		</security>
	</system.webServer>
	<system.serviceModel>
		<client>
			<endpoint address="http://testing.solucionfactible.com/ws/services/Timbrado.TimbradoHttpSoap11Endpoint/" binding="basicHttpBinding" bindingConfiguration="TimbradoSoap11Binding_TESTING" contract="ws.TimbradoPortType" name="TimbradoEndpoint_TESTING" />
			<endpoint address="https://solucionfactible.com/ws/services/Timbrado.TimbradoHttpsSoap11Endpoint/" binding="basicHttpBinding" bindingConfiguration="TimbradoSoap11Binding_PRODUCCION" contract="ws.TimbradoPortType" name="TimbradoEndpoint_PRODUCCION" />
			<endpoint address="https://solucionfactible.com/ws/services/Timbrado.TimbradoHttpsSoap12Endpoint/" binding="customBinding" bindingConfiguration="TimbradoSoap12Binding" contract="ws.TimbradoPortType" name="TimbradoHttpsSoap12Endpoint" />
		</client>
		<bindings>
			<basicHttpBinding>
				<binding name="TimbradoSoap11Binding_PRODUCCION" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="TimbradoSoap11Binding_TESTING" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
			<customBinding>
				<binding name="TimbradoSoap12Binding">
					<textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
						<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					</textMessageEncoding>
					<httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false" />
				</binding>
			</customBinding>
		</bindings>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="MigraDoc.DocumentObjectModel" publicKeyToken="f94615aa0424f9eb" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.32.3885.0" newVersion="1.32.3885.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="PdfSharp" publicKeyToken="f94615aa0424f9eb" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.50.5147.0" newVersion="1.50.5147.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="PdfSharp.Charting" publicKeyToken="f94615aa0424f9eb" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.50.5147.0" newVersion="1.50.5147.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>